{{!-- <div class="text-center grid-rows-2 space-y-4">
    <div>Want to visit the space first?</div>
    <div><a href={{this}} class="btn bg-ll-blue text-white inline-block hover:bg-ll-hover-blue">Book a Tour</a></div>

</div> --}}

<div class="flex justify-evenly items-center mt-4 lg:grid lg:grid-rows-2 lg:text-center xl:flex">
    <div>Want to visit the space first?</div>
    <div><a href={{this}} class="btn bg-ll-blue text-white inline-block hover:bg-ll-hover-blue">Book a Tour</a></div>

</div>