<div className="py-10 grid gap-y-5 flex-none lg:grid-cols-2 xl:justify-around">

    <div className="grid grid-cols-2 lg:gap-x-5">
    
        <div className="logo">
            <a href="https://localocker.com/">
                <img
                className=""
                src="images/localocker-logo.svg"
                alt="Locker Main Logo"
                />
            </a>
        </div>

        <div>
            <div className="grid gap-y-2 lg:grid-cols-2">
                <div>
                    <div>
                        <a href="https://localocker.com/faq/"  className="hover:text-ll-red">FAQ's</a>
                    </div>
                    <div>
                        <a href="https://localocker.com/terms/" className="hover:text-ll-red">Terms</a>
                    </div>
                    <div>
                        <a href="https://localocker.com/privacy/" className="hover:text-ll-red">Privacy</a>
                    </div>
                </div>

                <div className="logos mt-2 flex space-x-3">
                    <a href="https://ndlr.cc/huGgl58uJ" target="_blank" rel="noopener noreferrer" className="mr-2">
                        <img src="images/ll-facebook-logo.svg">
                    </a>
                    <a href="https://www.instagram.com/mylocalocker/" target="_blank"
                        rel="noopener noreferrer">
                        <img src="images/ll-instagram-logo.svg">
                    </a>
                </div>
            </div>
        </div>
    </div>
        

    <div className="">
        <div className="email font-semibold">
            <a href="mailto:reserve@localocker.com">reserve@localocker.com</a>
        </div>
        <div className="telephones flex flex-col">
            <a href="tel:+1 (646) 713-0937"><i>(646) 713-0937 <sub>(call)</sub></i></a><a
                href="sms:+1 (646) 849-2749"><i>(646) 849-2749 <sub>(text)</sub></i></a>
        </div>
    </div>

    <div>
        <p><strong>©2021 Local Locker</strong></p>
    </div>

</div>